<a href="https://colab.research.google.com/github/shuchangliang/projects/blob/master/Missing%20Value%20Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import io
from google.colab import files
uploaded = files.upload()

Saving cust.csv to cust.csv

In [4]:
customer = pd.read_csv(io.StringIO(uploaded['cust.csv'].decode('utf-8')))
##account = pd.read_csv(io.StringIO(uploaded['acct.csv'].decode('utf-8')))
##tran = pd.read_csv(io.StringIO(uploaded['tran.csv'].decode('utf-8')))

In [5]:
customer.head(5)

,Unnamed: 0,id,type,gender,birthDate,workActivity,occupationIndustry,totalIncome,relationshipStatus,habitationStatus,addresses_principalResidence_province,schoolAttendance,schools
0,0,fe51c153-fbec-4b64-9b00-2530035ef0e1_1bf5af3c-...,Personal,Male,12/26/1985,NaN,NaN,0.0,Single,Group,ON,NaN,NaN
1,1,fe51c153-fbec-4b64-9b00-2530035ef0e1_6e740a94-...,Personal,Female,1/30/1977,fulltime,5221 Depository credit intermediation,40009.2,Married,With Spouse,ON,NaN,NaN
2,2,fe51c153-fbec-4b64-9b00-2530035ef0e1_3918fdef-...,Personal,Female,11/22/2003,NaN,NaN,0.0,Single,With Parent,ON,Secondary,1.0
3,3,fe51c153-fbec-4b64-9b00-2530035ef0e1_d81a6d15-...,Personal,Other,5/7/1983,fulltime,"5412 Accounting, tax preparation, bookkeeping ...",44709.0,Married,With Spouse,ON,NaN,NaN
4,4,fe51c153-fbec-4b64-9b00-2530035ef0e1_e21dfbc8-...,Personal,Male,1/29/1983,fulltime,4855 Charter bus industry,21496.0,Single,With Parent,ON,NaN,NaN

In [6]:
# Define a Function to calculate missing values and missing rate by column

def missing_values_table(df):
        #1 Total missing values
        mis_val = df.isnull().sum()
        
        #2 Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        #3 Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        #4 Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        #5 Only keep the columns with missing values
        mis_val_table_only = mis_val_table_ren_columns.loc[mis_val_table_ren_columns['% of Total Values'] > 0]
        
        #6 Return the dataframe with missing information
        return mis_val_table_only

In [7]:
missing = missing_values_table(customer)
missing

                    Missing Values  % of Total Values
workActivity                  1445          25.597874
occupationIndustry             730          12.931798
habitationStatus               983          17.413640
schoolAttendance              4063          71.975199
schools                       5254          93.073516

In [10]:
# Alternative way to check missing

def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = df.isnull().sum() / len(df) * 100
    mis_val_table=pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table = mis_val_table.rename(columns={0: "Missing Values", 1: "% of Total Values"})
    mis_val_table_only = mis_val_table.loc[mis_val_table['% of Total Values'] > 0]
    return mis_val_table_only

In [11]:
missing2 = missing_values_table(customer)
missing2

                    Missing Values  % of Total Values
workActivity                  1445          25.597874
occupationIndustry             730          12.931798
habitationStatus               983          17.413640
schoolAttendance              4063          71.975199
schools                       5254          93.073516

In [12]:
## Find columns with missing > 50%
missing_columns = list(missing.loc[missing['% of Total Values']>50].index)
missing_columns

['schoolAttendance', 'schools']